# Python
__pycache__/
.env
*.pyc

# Node / Angular
node_modules/
dist/

# Docker
.env.docker

# IDE
.vscode/
.idea/
.DS_Store

# Build et Cache
dist/
.angular/
.cache/

# Sécurité (Secrets)
.env
.env.local
*.pem