<header class="nav">
  <div class="logo">
    <a routerLink="/">ConnectED</a>
  </div>

  <nav class="links">
    <a routerLink="/projects">Projets</a>
    <a routerLink="/about">À propos</a>
  </nav>

  <div class="actions">
    <button *ngIf="!auth.isLoggedIn()" routerLink="/login" class="btn-login">
      Se connecter
    </button>

    <div *ngIf="auth.isLoggedIn()" class="user-actions">
      <a routerLink="/profile" class="profile-link">Mon Profil</a>
      <button (click)="auth.logout()" class="btn-login logout">
        Déconnexion
      </button>
    </div>
  </div>
</header>
